body {
  margin: 0;
}

/* Header Section */
.header-section {
  text-align: center;
  background-color: burlywood;
  padding: 10px 0;
}

/* Footer Section */
.footer-section {
  text-align: center;
  background-color: rgb(135, 222, 203);
  padding: 5px 0;
}
